<!-- Sensors -->
<div id="home">
    <script type=text/javascript src="{{ url_for('static', filename='js/sensors.js') }}"></script>

    <div id="sensorData" class="contentContainer">
        <div id="sensorsClickableDiv" class="clickable">
            <h3>Sensors</h3>
            <div id="sensorDataHeader" class="contentHeader"></div>
            <div class="clear">&nbsp;</div>
        </div>
        <div id="sensorDataFull" class="contentFull">

        </div>
    </div>


    <!-- Top -->
    <script type=text/javascript src="{{ url_for('static', filename='js/top.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/lib/jquery.dataTables.min.js') }}"></script>

    <div id="topData" class="contentContainer">
        <div id="topClickableDiv" class="clickable">
            <h3>Top</h3>
            <div id="topDataHeader" class="contentHeader"></div>
            <div class="clear">&nbsp;</div>
        </div>
        <div id="topDataFull" class="contentFull">
            <table id="topTable">
                <thead class="clickable">
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>