/*
Color Reference:
assigning to classes strictly to get ide sugar.
*/
.darkBackground { color: #000000; }
.lessDarkBackground { color: #1F1F1F; }
.grey { color: #CCCCCC; }
.white {color: #EEEEEE }
.red {color: #FF6666 }
.green {color: #4DFFFF}



/* Global */
body {
    font-family: Fixed, monospace;
    background: #000000;
    margin-left: 10%;
    margin-right: 10%;
}

a, h1, h2 {
    color: #FF6666;
}

h1, h2 {
    font-family: 'Georgia', serif; margin: 0;
}

h1 {
    border-bottom: 2px solid #EEEEEE;
    padding-bottom: .4em;
}

h2 {
    font-size: 1.2em;
}

.page {
    margin: 2em auto;
    /*height: 50em;*/
    border: 5px solid #CCCCCC;
    padding: 0.8em;
    background: #1F1F1F;
}

footer {
    color: #CCCCCC;
}

div.contentContainer {
    border: 1px solid #FF6666;
    margin: 2px;
    color: #CCCCCC;
    font-size: .8em;
}

span.green {
    color: #4DFFFF;
}

span.contentContainer { color: #4DFFFF}


/******************
* Navigation Bar  *
******************/
#topnav {

}

#navcontainer ul
{
    /*margin: 0;*/
    margin: 0 0 1em 0;
    padding: 0 0 0 .3em;
    list-style-type: none;
    border-bottom: 2px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
#navcontainer ul li { display: inline; }
#navcontainer ul li a { text-decoration: none; }


/******************
* Home            *
******************/
.clickable {
    cursor: pointer;
}

#topTable_filter input {
    background-color: #1F1F1F;
    color: #CCCCCC;
}