/*
Color Reference:
assigning to classes strictly to get ide sugar.
*/
.darkBackground { color: #000000; }
.lessDarkBackground { color: #1F1F1F; }
.grey { color: #CCCCCC; }
.white {color: #EEEEEE }
.red {color: #FF6666 }
.green {color: #4DFFFF}



/* Global */
body {
    font-family: Fixed, monospace;
    background: #000000;
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2 {
    color: #FF6666;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    /*border-bottom: 2px solid #EEEEEE;*/
    padding-bottom: .4em;
}

h2 {
    font-size: 1.2em;
}

.page {
    margin: 2em auto;
    /*height: 50em;*/
    border: 5px solid #CCCCCC;
    padding: 0.8em;
    background: #1F1F1F;
}

footer {
    color: #CCCCCC;
}

.invisible {
    display: none;
}


/******************
* Navigation Bar  *
******************/
#topnav {

}

#navcontainer ul
{
    /*margin: 0;*/
    margin: 0 0 1em 0;
    padding: 0 0 0 0;
    list-style-type: none;
    border-bottom: 1px solid #CCCCCC;

}

#navcontainer ul li {
    display: inline;
    padding: 0 .75em 0 .75em;
    text-align: center;
}

.tab {
    color: #FF6666;
}

.navTabSelected {
    border-bottom: 1px solid #1F1F1F;
    border-right: none;
    border-left: none;
    border-top: none;
    background: inherit;
}

.navTabNotSelected {
    background: #261717;
}


/*********************
* Content Containers *
*********************/

div.contentContainer {
    border: 1px solid #FF6666;
    margin: 2px;
    color: #CCCCCC;
    font-size: .8em;
}

span.green {
    color: #4DFFFF;
}

/* TODO: is the following redundant with the above? */
span.contentContainer { color: #4DFFFF}


.clickable {
    cursor: pointer;
}

.clickable h3 {
    /* TODO: recompute padding for this and the left float thing using line-height instead of padding */
    padding: .5em .5em .5em .2em;
    margin: 0 0 0 0;
    float: left;
}

.contentHeader {
    padding: .5em .5em .5em .2em;
    float: right;
}

.contentFull {

}

.clear {
    clear:both;
    font-size: 0;
}

#topTable_filter input {
    background-color: #1F1F1F;
    color: #CCCCCC;
}

.right {
    text-align: right;
}