/******************
* Color Reference *
******************/
.darkBackground { color: #000000; }
.lessDarkBackground { color: #1F1F1F; }
.darkestGrey {color: #333333; }
.lessDarkestGrey { color: #444444; }
.grey { color: #CCCCCC; }
.darkGrey { color: #939393; }
.white {color: #EEEEEE; }
.red {color: #FF6666; }
.darkRed {color: #562f2f; }
.green {color: #4DFFFF; }
.blue {color: #009dff; }





/******************
* Global          *
******************/
body {
    font-family: Fixed, monospace;
    background: #000000;
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2 {
    color: #1F1F1F;
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    padding-bottom: .4em;
}

h2 {
    font-size: 1.2em;
}

.page {
    margin: 2em auto;
    border: 5px solid #CCCCCC;
    padding: 0.8em;
    background: #CCCCCC;
}

#pagecontent {
    background: #1F1F1F;
    padding-bottom: .5em;
}

footer {
    color: #CCCCCC;
}

.invisible {
    display: none;
}



/******************
* Navigation Bar  *
******************/
#topnav {}

#navcontainer ul
{
    margin: 0 0 1em 0;
    padding: 0 0 0 0;
    list-style-type: none;
    background: #CCCCCC;
}

#navcontainer li {
    display: inline;
    padding: 0 .75em 0 .75em;
    width: 4em;
    text-align: center;
}

.tab {
    /* color: #FF6666; */
}

.navTabSelected {
    border-bottom: 1px solid #1F1F1F;
    border-right: none;
    border-left: none;
    border-top: none;
    background: #1F1F1F;
    color: #FF6666;
}

.navTabNotSelected {
    background: #CCCCCC;
    color: #1F1F1F;
}



/*********************
* Content Containers *
*********************/

div.contentContainer {
    border: 1px solid #FF6666;
    margin: .5em 1em .5em 1em;
    color: #CCCCCC;
    font-size: .8em;
}

span.green {
    color: #4DFFFF;
}

.clickable {
    cursor: pointer;
}

.clickable h3 {
    /* TODO: recompute padding for this and the left float thing using line-height instead of padding */
    padding: .5em .5em .5em .2em;
    margin: 0 0 0 0;
    float: left;
}

.contentHeader {
    padding: .5em .5em .5em .2em;
    float: right;
}

.clear {
    clear:both;
    font-size: 0;
}

/* Used to style the search box in the top datatable. */
#topTable_filter input {
    background-color: #1F1F1F;
    color: #CCCCCC;
}

/* Used to set top data table column content alignment */
.right {
    text-align: right;
}


/*********************
* Disks              *
*********************/
#diskList {
    width: 29%;
    margin: 0 0 2px 6px;
    float: left;
}

#diskDetails{
    width: 65%;
    height: 100%;
    margin: 0 6px 2px 0;
    float: right;
}

.diskLineItem, .diskDetailsPanel {
    background-color: #333333;
    border: 1px solid #444444;
    margin-bottom: 2px;
}

.diskLineItem:hover {
    /* TODO doc this color when it is good. */
    /* background-color: #273a82; */
    background-color: #273a82;
}

.diskLineItemRight {
    float: right;
}

.diskLineItemLeft {
    font-weight: 700;
    float: left;
}

.diskBar {
    background-color: #1F1F1F;
    margin: .5em 0 .2em 0;
    padding: 0 0 0 0;
    width: 100%;
    overflow: auto;
    height: .9em;
    position: relative;
}

.diskBarLabel, .diskBarUsage, .diskBarRaid {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.diskBarLabel {
    text-align: center;
    margin: 0 0 0 0;
    font-size: .8em;
    z-index: 10;
    color: #009dff;
}

.diskBarUsage {
    background-color: #444444;;
}

.diskBarRaid {
    background-color: #562f2f;
}

.diskDetailsPanel {
    width: 100%;
    height: 100%;
}